<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('web') }}">Home</a>
        <a href="{{ url_for('map') }}">Map</a>
    </nav>

    <h1>SBB Analyse</h1>
    <img src="/test.png" alt="my plot" /> {% block overview %} {% endblock %} {% block map %} {% endblock %}
</body>

</html>