<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <a href="{{ url_for('web') }}">Home</a>
      <a href="{{ url_for('map') }}">Map</a>
    </nav>

    <h1>SBB Analyse</h1>
    <div id="map" style="height: 600px"></div>
    <img src="/test.png" alt="my plot" /> {% block overview %} {% endblock %} {%
    block map %} {% endblock %}
  </body>
  <script>
    var map = L.map("map").setView([47.3769, 8.5417], 13);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(map);
    var zurich = L.marker([47.3769, 8.5417]).addTo(map);
    var arr = "{{ stations }}";
    console.log(arr);
  </script>
</html>
