<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <title>Document</title>
</head>

<body>
    <h1>SBB Analyse</h1>
    <label for="dates">Choose a date:</label>
    <form method="POST" onchange="event.target.form.submit()">
        <select name="date" id="mapSelect">
        {% for date in dates %}
        <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
      </select>
    </form>
    <div id="map" style="height: 500px"></div>

    <h2>Traintypes</h2>
    <div class="row">
        <div class="col-md-12">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Traintype</th>
                        <th>delaycount</th>
                        <th>delaysum</th>
                        <th>totaldatapoints</th>
                    </tr>
                </thead>
                <tbody>
                    {% for train in trains %}
                    <tr>
                        <td>{{ train.name }}</td>
                        <td>{{ train.delaycount }}</td>
                        <td>{{ train.delaysum }}</td>
                        <td>{{ train.totaldatapoints }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div>
    <img src="./static/boxplot.png" alt="Delay Boxplot">
    <img src="./static/delaydistribution.png" alt="Delay Boxplot">
</div>
</body>
<script>
    document.getElementById("mapSelect").value = "{{ scope }}";

    var map = L.map("map").setView([46.8182, 8.2275], 8);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    var stations = '{{ stations|tojson|replace("\'", "") }}';

    var data = JSON.parse(stations);
    for (var i = 0; i < data.length; i++) {
        var station = data[i];
        if (station.geopos_lat && station.geopos_lon) {
            if (station.delaycount < 2) {
                var size = 10;
            } else if (station.delaycount < 5) {
                var size = 30;
            } else if (station.delaycount < 10) {
                var size = 40;
            } else if (station.delaycount < 20) {
                var size = 50;
            } else {
                var size = 10;
            }

            var icon = L.icon({
                iconUrl: "{{ url_for('static', filename='marker.png') }}",
                iconSize: [size, size],
            });

            var x = L.marker([station.geopos_lat, station.geopos_lon], {
                icon: icon,
            }).addTo(map);

            var label =
                "Name: " +
                station.name +
                "<br>" +
                "Delay count: " +
                station.delaycount +
                "<br>" +
                "Delay sum: " +
                station.delaysum +
                "<br>" +
                "Total datapoints: " +
                station.totaldatapoints;
            x.bindPopup(label);
            console.log(size);
        }
    }
</script>

</html>