{% extends 'base.html' %} {% block overview %}
<h2>Traintypes</h2>
<div class="row">
    <div class="col-md-12">
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th>Traintype</th>
                    <th>delaycount</th>
                    <th>delaysum</th>
                    <th>totaldatapoints</th>
                </tr>
            </thead>
            <tbody>
                {% for train in trains %}
                <tr>
                    <td>{{ train.name }}</td>
                    <td>{{ train.delaycount }}</td>
                    <td>{{ train.delaysum }}</td>
                    <td>{{ train.totaldatapoints }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h2>Stations</h2>
<div class="row">
    <div class="col-md-12">
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th>Station</th>
                    <th>delaycount</th>
                    <th>delaysum</th>
                    <th>totaldatapoints</th>
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                <tr>
                    <td>{{ station.name }}</td>
                    <td>{{ station.delaycount }}</td>
                    <td>{{ station.delaysum }}</td>
                    <td>{{ station.totaldatapoints }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}